<!-- Mission file for GADEN preprocessing
    ROS - KINETIC
-->

<launch>
    <arg name="scenario" default="rand_env_1" />
    
    <node pkg="gaden_preprocessing" type="preprocessing" name="preprocessing" output="screen" required="true" >


        #Cell size
        <param name="cell_size" value="0.1"/>    
        
        #CAD models of the enviroment (.stl)
        <param name="number_of_models" value="1"/>
        <param name="model_0" value="$(find envs)/$(arg scenario)/cad_models/walls.stl"/>
                
        #CAD model of the outlets (.stl)
        <param name="number_of_outlet_models" value="0"/>
        
        #3D Location of a point in free-space
        <param name="empty_point_x" value="3.0"/>      ### (m)
        <param name="empty_point_y" value="3.0"/>      ### (m)
        <param name="empty_point_z" value="0.5"/>      ### (m)
            

        #Wind Data (the node will append _i.csv to the name that is specified here)
        <param name="wind_files" value="$(find envs)/$(arg scenario)/wind_simulations/"/>

        #Where to write the output files
        <param name="output_path" value="$(find envs)/$(arg scenario)" />
    </node>
</launch>

